body {
    colour: #172B4D;
}

.about-me {
    background-image: url(./Images/about-me-left-bottom.svg), url(./Images/about-me-right-top.svg);
    background-position: bottom left, top right;
    background-repeat: no-repeat;
}

.end {
    background-image: url(./Images/footer-left-end.svg), url(./Images/footer-right-end.svg);
    background-position: bottom left, top right;
    background-repeat: no-repeat;
    padding-bottom: 200px;
}

.end-text {
    padding: 50vm;
}

/* .end-section {
    background: rgb(184, 164, 164);
    width: 80vw;
} */

